{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/homepage-overview/homepage/" role="button">Get Started</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Main page</h2>
        <p>This is the main menu in which you will find yourself <a href="/docs/prologue/homepage-overview/homepage/">Click here</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Order main page</h2>
        <p>New order. <a href="/docs/prologue/orders-list/orders/ordermainscreen/">Click here</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">New Order creation️</h2>
        <p>Order creation and settings explanation <a href="/docs/prologue/orders-list/orders/newordercreation/">Click here</a>.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Furnished Floorplans Editor</h2>
        <p>Furnished Floorplans Editor, navigation, tools, settings <a href="/docs/help/faq/">Click here</a>.</p>
      </div>

      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
